<div class="heading">
    <img id="heading-img" src="assets/images/heading.png">
</div>

<div class="eaten-burger">
    <img src="assets/images/burger-eaten-bg.png" width="600px" height="400px">
</div>

<main>
    <div class="main">
        <div class="input-div">
            <h2>What kind of burger would you like?</h2>
            <form action="/add" method="POST">
                <input type="text" name="burger_name" maxlength="35" placeholder="Enter burger name">
                <button id="add-btn" type="submit"><i class="fas fa-plus"></i></button>
            </form>
            <i id="info-icon" class="fas fa-info-circle fa-2x"></i>
        </div>

        <div class="info-div">
            <ol>
                <li>
                    <p>Enter the name of a burger you would like to eat to add it to your 'To eat' list.</p>
                </li>
                <li>
                    <p>When your burger appears in the 'To eat' list, press the blue button to move it to the 'Eaten' list.</p>
                </li>
                <li>
                    <p>When your burger appears in the 'Eaten' list, press the red button to get rid of it for good!</p>
                </li>
            </ol>
        </div>

        <div class="burger-lists">
            <div class="to-eat">
                <h2>To eat</h2>
                <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li>
                            <p>{{this.burger_name}}</p>
                            <form action="/devour/{{this.id}}" method="POST">
                                <button type="submit" name="devoured" value="1"><i class="fas fa-utensils fa-2x"></i></button>
                            </form>
                        </li>
                    {{/unless}}
                {{/each}}
                </ul>
            </div>
            <div class="eaten">
                <h2>Eaten</h2>
                <ul>
                    {{#each burgers}}
                        {{#if this.devoured}}
                            <li>
                                <p>{{this.burger_name}}</p>
                                <button class="delete-btn" data-id="{{this.id}}" type="submit"><i data-id="{{this.id}}" class="fas fa-poop fa-2x"></i></button>
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>

<footer>
    <span>
        <a href="https://www.github.com/jkaho" target="_blank"><i class="fab fa-github"></i> jkaho</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="https://www.github.com/jkaho/burger" target="_blank">Project GitHub Repo</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
        <a href="https://jkaho.github.io/my-personal-website" target="_blank">My Portfolio</a>
    </span>
</footer>

<script type="text/javascript">
    // Show instructions
    const infoIcon = document.getElementById("info-icon");
    const infoDiv = document.querySelector(".info-div");
    const toEatDiv = document.querySelector(".to-eat");
    const eatenDiv = document.querySelector(".eaten");
    let isOpen = false;

    infoIcon.addEventListener("click", () => {
        if (!isOpen) {
            infoDiv.setAttribute("style", "display: block");
            toEatDiv.setAttribute("style", "height: 241px");
            eatenDiv.setAttribute("style", "height: 241px");
            isOpen = true;
        } else {
            infoDiv.setAttribute("style", "display: none");
            toEatDiv.setAttribute("style", "height: 400px");
            eatenDiv.setAttribute("style", "height: 400px");
            isOpen = false;
        };
    });

    // Delete request
    const deleteBtns = document.querySelectorAll(".delete-btn");
    deleteBtns.forEach((button) => {
        button.addEventListener("click", (event) => {
            const id = event.target.getAttribute("data-id");

            fetch(`/devour/${id}`, {
                method: 'DELETE',
            }).then((res) => {
                location.reload();
            });
        });
    });
</script>